:root {
    --white: #ffffff;
    --main_purple: #692bd8;
    --secondary_purple: #d2d0ff;
    --tertiary_purple: #e6e3ff;
    --gray: #eeeeee;
    --black: #3b3b3b;
    --dark_gray: #cccccc;
    --dark_black: #010101;
    --dark_purple: #4a00e0;
}
